<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-spiir-ios9" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>App Transport Security and fullscreen</name>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
          </dict> 
      </config-file>

      <config-file target="*-Info.plist" parent="UIRequiresFullScreen">  
        <string>YES</string> 
      </config-file>

  
    </platform>
</plugin>
